.accordion {
    background-color: #34495e; 
    color: #ecf0f1;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: background-color 0.3s;
    border: 0;
  }
  
  .accordion-item {
    margin-bottom: 10px;
  }
  
  .accordion-title {
    cursor: pointer;
    background-color: #444; 
    padding: 10px;
    border-radius: 4px;
  }
  
  .accordion-title h3 {
    margin: 0;
  }
  
.accordion-content {
    /* background-color: #555; */
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;

  }
   